<footer class="footer">
  <div class="columns">
    <div class="column">
      <a href="https://groups.yahoo.com/neo/groups/abundance_uk/info">
        <span>Abundance Yahoo Group</span>
      </a>
      <br/>
      <a href="https://twitter.com/Abundance_UK">
        <img src="{{ site.host }}/images/tweeter_32x32_0.png" alt="Twitter">
        <span>Abundance_UK</span>
      </a>
    </div>
    <div class="column">
      <p class="is-size-7">Built with <a href="https://bulma.io/">Bulma</a> and <a href="https://www.11ty.dev/">Eleventy</a>.</p>
      <p class="is-size-7">
        <span class="icon is-small"><img src="{{ site.host }}/images/github.svg" alt=""></span>
        <a href="https://github.com/pmackay/abundance-network">GitHub</a>
      </p>      
    </div>
  </div>
</footer>
