<footer class="footer">
  <p class="is-size-7">Built with <a href="https://bulma.io/">Bulma</a> and <a href="https://www.11ty.dev/">Eleventy</a>.</p>
  <p class="is-size-7">
    <span class="icon is-small"><img src="{{ site.host }}/images/github.svg" alt=""></span>
    <a href="https://github.com/pmackay/abundance-network">GitHub</a>
  </p>
</footer>
