<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ site.name }}</title>
    <link rel="shortcut icon" href="/images/favicon_2_0.ico" type="image/vnd.microsoft.icon" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    <link href="https://fonts.googleapis.com/css?family=Literata:400,700&display=swap" rel="stylesheet">
    <script src='https://api.mapbox.com/mapbox-gl-js/v1.7.0/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v1.7.0/mapbox-gl.css' rel='stylesheet' />

    <link rel="stylesheet" href="{{ site.host }}/css/main.css">
  </head>
  <body class="">
    {% include 'navbar.njk' %}

    <main>
      {% block main %}{% endblock %}

      {{ content | safe }}
    </main>

    {% include 'footer.njk' %}
  </body>
</html>


