<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="{{ site.host }}/">
      <img src="{{ site.host }}/images/apple-logo_1_0.jpg" alt="apple icon" width="" height="">
      <span class="title is-5 has-margin-left-4">Abundance Network</span>
    </a>
  </div>
</nav>
