---
layout: layout.njk
---


<article class="container content">
  
  <div class="section">
    <div class="columns">
      <div class="column is-half is-offset-one-quarter">
        {{ content | safe }}
      </div>
    </div>
  </div>
</article>
