@charset "utf-8";

$title-family: "Literata", serif;
$family-primary: "Literata", serif;


// Bulma imports

@import "../../node_modules/bulma/bulma.sass";
@import "../../node_modules/bulma-helper-spacing/spacing";


// See https://gist.github.com/jaicab/8799764
.video-container {
  position: relative;
  padding-bottom: 56.25%; /*16:9*/
  padding-top: 30px; 
  height: 0; 
  overflow: hidden;
}
 
.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.grid-item { width: 95%; }

@media (min-width: $tablet) {
  .grid-item { width: 42%; }
}


.marker {
  background-image: url('/images/map-icon-apple.jpg');
  background-size: cover;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  cursor: pointer;
}

.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}
