<section class="section has-background-white-ter">
  <div class="container">
    <div class="columns">
      <div class="column is-half is-offset-one-quarter content has-text-centered">
        <h2 class="title is-3">The Abundance Handbook</h2>
        <div class="columns has-margin-top-5">
          <div class="column is-one-third">
            <a href="{{ site.host }}/files/abundbkview_0.pdf">
              <div class="box"><img src="/images/handbook_cover_0.png" alt="The Abundance Handbook"/></div>
            </a>
          </div>
          <div class="column is-two-thirds content has-text-left">
            <p class="is-size-4">Created by Sheffield Abundance, the Abundance Handbook is a beautiful and informative guide to fruit harvesting.</p>
            <a href="{{ site.host }}/files/abundbkview_0.pdf" class="is-size-4">Download the Handbook</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
