<section class="section">
  <div class="container">

    <div class="level content has-margin-top-4 has-text-centered">
      <div class="level-item">
        <a href="{{ site.host }}/articles/hints-and-tips">
          <img src="{{ site.host }}/images/minok2_0.jpg" alt="apple">
          <h3 class="title is-4">Hints and Tips</h3>
        </a>
      </div>
      <div class="level-item">
        <a href="{{ site.host }}/articles/equipment-and-insurance">
          <img src="{{ site.host }}/images/equipment.jpg" alt="apple">
          <h3 class="title is-4">Equipment and<br/>
          Insurance</h3>
        </a>
      </div>
      <div class="level-item">
        <a href="{{ site.host }}/articles/how-run-edible-high-road">
          <img src="{{ site.host }}/images/poms163_0.jpg" alt="apple">
          <h3 class="title is-4">How to run<br/>an Edible High Road</h3>
        </a>
      </div>
    </div>
    
    <hr/>

    <div class="has-text-centered has-margin-top-6">
      <img src="{{ site.host }}/images/apple-logo_1_0.jpg" alt="apple">
      <h2 class="title is-3">Useful things</h2>
    </div>

    <div class="columns content has-margin-top-5">
      
      <div class="column is-one-third">
        <h3 class="title is-5">Others creating Abundance</h3>
        <ul>
          <li><a href="http://thelondonorchardproject.org/">The London Orchard Project</a></li>
          <li><a href="http://www.commonground.org.uk">Common Ground</a></li>
          <li><a href="http://www.fruitfulschools.com" target="_blank">www.fruitfulschools.com</a></li>
          <li><a href="http://www.scottishfruittrees.com" target="_blank">www.scottishfruittrees.com</a></li>
        </ul>
      </div>

      <div class="column is-one-third">
        <h3 class="title is-5">Abundance in the press</h3>
        <ul>
          <li><a href="https://www.theguardian.com/observer-ethical-awards/observer-ethical-awards-shortlist">Winner of <strong>Observer Ethical Award for Best Grassroots Project, 2010</strong></a> (Observer)</li>
          <li><a href="http://news.bbc.co.uk/local/sheffield/hi/people_and_places/nature/newsid_8176000/8176412.stm">Free fruit in abundance</a> (BBC)</li>
          <li><a href="http://www.bbc.co.uk/news/magazine-24446261">Fruit-picking charity Abundance is ripe for success</a> (BBC News magazine)</li>
          <li><a href="http://www.guardian.co.uk/uk/scotland-blog/2012/oct/10/scotland-apples-orchards">Cheap, good to eat and home-grown: apples can help beat the recession</a> (Guardian)</li>
        </ul>
      </div>

      <div class="column is-one-third">
        <h3 class="title is-5">Fruity Resources</h3>
        <ul>
          <li><a href="http://www.orangepippin.com/">Orange Pippin</a></li>
          <li><a href="http://www.organiclea.org.uk/">Organic Lea</a></li>
          <li><a href="https://iansturrockandsons.co.uk/videoguides/">Ian Sturrock cultivation video guides</a></li>
        </ul>
      </div>

    </div>
  </div>
</section>
