<section class="section">
  <div class="container">

    <div class="level content has-margin-top-4 has-text-centered">
      <div class="level-item">
        <a href="{{ site.host }}/articles/hints-and-tips">
          <img src="{{ site.host }}/images/minok2_0.jpg" alt="apple">
          <h3 class="title is-4">Hints and Tips</h3>
        </a>
      </div>
      <div class="level-item">
        <a href="{{ site.host }}/articles/equipment-and-insurance">
          <img src="{{ site.host }}/images/equipment.jpg" alt="apple">
          <h3 class="title is-4">Equipment and<br/>
          Insurance</h3>
        </a>
      </div>
      <div class="level-item">
        <a href="{{ site.host }}/recipes">
          <img src="{{ site.host }}/images/recipes.jpg" alt="apple">
          <h3 class="title is-4">Recipes</h3>
        </a>
      </div>
      <div class="level-item">
        <a href="{{ site.host }}/articles/how-run-edible-high-road">
          <img src="{{ site.host }}/images/poms163_0.jpg" alt="apple">
          <h3 class="title is-4">How to run<br/>an Edible High Road</h3>
        </a>
      </div>
    </div>
    
  </div>
</section>
