<section class="section has-background-white-ter">
  <div class="container">
    <div class="columns">
      <div class="column is-two-thirds is-offset-2">
        <h2 class="title is-3">Shaking the tree</h2>
        <p class="has-margin-top-3">A video about the Kensal to Kilburn Fruit Harvesters group (4 mins).</p>
        <div class="video-container has-margin-top-5">
          <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/0d3NHFZ5ovM?controls=1" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>
</section>
