---
layout: layout
---

<style type="text/css">
.has-background-image-harvesting {
  background: url('{{ site.host }}/images/harvesting.jpg') center center;
  background-size: cover;
}

.has-background-image-harvesting .column {
  background: rgba(0, 0, 0, 0.4);
}
</style>


<section class="section hero is-medium has-background-image-harvesting">
  <div class="hero-body">
    <div class="container">
      <div class="columns">
        <div class="column is-one-third has-text-white">
          
          <h1 class="title is-1 has-text-white">
            {{ site.name }}
          </h1>
          <h2 class="subtitle is-5 has-margin-top-5 has-text-white">
            <p>All over the UK, people have started harvesting gluts of unwanted fruit in their area. We've shared some information, but each group is individual. </p>
            <strong class="subtitle is-4 has-text-white">Welcome to Abundance.</strong>
          </h2>
        </div>
      </div>
    </div>
  </div>
</section>

{% include 'index/groups.njk' %}
{% include 'index/handbook.njk' %}
{% include 'index/resources.njk' %}
{% include 'index/video.njk' %}
